@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
:root{
  --primary: #ffffff;
  --secondary: #ffffff;

}

html{
  /*#000000ee*/
  /*#000511ee*/
  background-color: #000511ee;
  /* background-image: url("./Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; */
  /* scrollbar-color: #aabfe0 #293377; */
  scrollbar-color: #aabfe0 #000511ee;
}

h1, h2, h3,h4{
  color: white;
}

p, li, ul{
  color: #aabfe0;
}


/* .App {
  text-align: center;
  min-height: 100vh;
  max-height: 100%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-family: "Archivo", sans-serif;
} */

@media only screen and (min-width: 0px) {
  .App {
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: white;
    font-family: "Archivo", sans-serif;
  }
}

@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: white;
    font-family: "Archivo", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: white;
    font-family: "Archivo", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .App {
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: white;
    font-family: "Archivo", sans-serif;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-family: "Archivo", sans-serif;
  }
}