@media only screen and (min-width: 0px) {
    .Footer-container{
        text-align: center;
        /* border: 1px green solid; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .Footer-contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 768px) {
    .Footer-container{
        text-align: center;
        /* border: 1px green solid; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .Footer-contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25%;
        padding-right: 15%;
    }
}