.Navbar-container{
    text-align: center;
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 40%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    backdrop-filter: blur(5px);
}