/* .Navbar-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 40%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    backdrop-filter: blur(5px);
    z-index: 10000000000000000000000000;
} */

@media only screen and (min-width: 0px) {
    .Navbar-container{
    text-align: center;
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 100%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    z-index: 9999;
    isolation: isolate;
}
}

@media only screen and (min-width: 768px) {
    .Navbar-container{
    text-align: center;
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 86%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    z-index: 9999;
    isolation: isolate;
}
}

@media only screen and (min-width: 992px) {
    .Navbar-container{
    text-align: center;
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 86%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    z-index: 9999;
    isolation: isolate;
}
}

@media only screen and (min-width: 1220px) {
    .Navbar-container{
    text-align: center;
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    position: fixed;
    width: 40%;
    background-color:#00051105;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    z-index: 9999;
    isolation: isolate;
}
}