.ProjectsPage-container{
    text-align: left;
    /* border: 1px grey solid; */
    min-height: 100vh;
    max-height: 100%;
    padding-top: 10%;
}

.ProjectPage-projects{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4%;
    row-gap: 5% ;
    margin: 0%;
}